<% layout("/layouts/boilerplate") %>
<body>
  <h1>All Courses</h1>
  <form action="/course/new" method="GET">
    <button>New Course</button>
  </form>
  <div class="courses">
    <% for(let course of courses) { %>
    <div class="card">
      <div class="content">
        <p class="heading"><%= course.code %></p>
        <p class="para"><%= course.name %></p>
        <a class="btn" href="/course/<%=course._id%>">Show</a>
      </div>
    </div>
    <% } %>
  </div>
</body>
